*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #05054e;
}
.clase {
    width: 100%;
    height: 100px;
   
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    /* text-shadow: 2px 2px 5px rgb(165, 170, 169); */
}
.fo {
    width: 70%;
    height: 50px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 0px 20px 0px 20px;
    
}
.fo a{
    font-size: 0.8rem;
    
}
.ques {
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tes {
    width: 40%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 2px 3px 10px 1px rgb(54, 54, 54);
}
.tes2 {
    width: 40%;
    height: 100%;
    background-color: rgb(130, 224, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 2px 3px 10px 1px rgb(54, 54, 54);
}

button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: translateY(-20px);
    cursor: pointer;
}

@media (max-width:800px) {
    button {
        
        transform: translateY(-50px);
        cursor: pointer;
    
    }
}

.dadse {
    width: 50px;
    box-shadow: 2px 3px 10px 1px rgb(54, 54, 54);
    border-radius: 100%;
    position: fixed;
    background-color: white;
    top: 20px;
    left: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


