<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/bien.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>
<body>
    <div class="aqwxc" style="padding-top: 100px;">
    <div class="loj">
        <h1 id="logo">VRIGOUD !</h1>
        
        
    </div>
   
    <div class="lo">
        <img src="{{ url_for('static', filename='IMAGE/scc.png')}}" width="100%" height="100%"  alt="">
    </div>
    <div class="bu">
        <a href="/index" id="butt">
            j'ai trouvé keh ! au suivant !!!
        </a>
    </div>
    <div class="etoile1">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} "  width="100%" height="100%"  alt="">

    </div>
    <div class="etoile2">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} "  width="100%" height="100%"  alt="">

    </div>
    <div class="etoile3">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} " width="100%" height="100%"  alt="">

    </div>
    <div class="etoile4">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} " width="100%" height="100%"  alt="">

    </div>
    <div class="etoile5">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} " width="100%" height="100%"  alt="">

    </div>
    <div class="etoile6">
        <img src="{{ url_for('static', filename='IMAGE/etoile.png')}} " width="100%" height="100%"  alt="">

    </div>
  
  
</div>
</body>
</html>